* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #28ECF6;
    text-align: center;
}

.container {
    height: 70vh;
      display: flex;

        justify-content: center;
        align-items: center;
}

    .Game{
        height: 60vmin;
        width: 60vmin;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5vmin;

    }
    .box{
        width: 18vmin;
        height: 18vmin;  
    border-radius: 1rem; 
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 10vmin;
    background-color: aliceblue;
    color: #288cf6;;

 }
 #reset{
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    background-color: #288cf6;
    color: white;
    cursor: pointer;
 }
 #start{
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    background-color: #288cf6;
    color: white;
    cursor: pointer;
 }
 .WINNER{
    display: none;
    margin-top: 2rem;
 }